<include file="Public/left" />



<style type="text/css">

  .edit-ul{display: none;}

</style>


<div class="nav-table">

<span class="on"><{$gather.name}>业务数据操作</span>


</div>



<div class="nav-bottom"></div>



<div class="input-box">


<ul class="licai edit-ul" style="display:block">

  <form class="table-form" name="form1" enctype="multipart/form-data" method="post" action="<{:U('edit')}>">



  <li>

   <label for="title">日期</label>

   <input type="date" name="date" id="title" value="<{$show.date}>" />


  </li>

  <li>

   <label for="url">目标收益</label>

   ￥<input type="text" name="aim" id="url" value="<{$show.aim}>" />

  </li>

  <li>

   <label for="url">实际收益</label>

   ￥<input type="text" name="reality" id="url" value="<{$show.reality}>" />

  </li>


  <li>

   <label for="earnings">备注(可不填写)</label>

   <input type="text" name="explain" id="earnings" value="<{$show.explain}>" />

  </li>

  <li>
    
    <input type="hidden" name="id" value="<{$show.id}>">

    <input type="hidden" name="gid" value="<{$show.gid}>">

    <div class="table-but"><input type="submit" name="button" id="button" value="确 认 操 作"></div>

  </li>



  </form>

</ul>




</div>

<include file="Public/foot" />