<include file="Public/left" />

<script>
$(function(){
	$("tr:even").css('background','#eee')
})
</script>
<div class="title">
  旅游日历内容&nbsp;&nbsp;&nbsp;
  <a href="<{:U('edit')}>">添加内容</a>&nbsp;&nbsp;&nbsp;
  <a href="<{:U('show')}>" target="_blank">预览</a>
</div>

<a href="<{:U('index')}>" class="class-title <eq name="type" value="1">class-title-hold</eq>">当日推荐</a>
<a href="<{:U('index',array('type'=>2))}>" class="class-title <eq name="type" value="2">class-title-hold</eq>">地点推荐</a>

<table class="table" width="100%" border="0" cellspacing="5" cellpadding="0">
  <tr class="first">
    <td width="15%" align="center">名称</td>
    <td width="15%" align="center"><eq name="type" value="2">地点类型<else/>链接</eq></td>
    <td width="15%" align="center">添加时间</td>
    <td width="15%" align="center">修改时间</td>
    <td width="14%" align="center">状态</td>
    <td width="14%" align="center">操作</td>
  </tr>
  <volist name="link" id="list">
    <tr>
      <td align="center"><{$list['title']}></td>
      <td align="center">
        <eq name="type" value="2">
          <if condition="$list['pro_type'] eq 1">
            周边
          <elseif condition="$list['pro_type'] eq 2"/>
            国内
          <elseif condition="$list['pro_type'] eq 3"/>
            境外
          </if>
        <else/>
          <a href="<{$list['url']}>" target="_blank"><{$list['url']}></a>
        </eq>
      </td>
      <td align="center"><{:date("Y-m-d H:i:s",$list['create_time'])}></td>
      <td align="center">
        <eq name="list['update_time']" value="0">未进行修改操作<else/><{:date("Y-m-d H:i:s",$list['update_time'])}></eq>
      </td>
      <td align="center">
        <eq name='list.status' value="0">未审核<else/>已审核</eq>
      </td>
      <td align="center">
        <a href="<{:U('edit',array('id'=>$list['id']))}>">修改</a> 
        <a href="<{:U('del',array('id'=>$list['id']))}>" onClick="return confirm('确定要删除吗？')">删除</a>
      </td>
    </tr>
  </volist>
</table>
<{$page}>

<include file="Public/foot" />