<include file="Public/left" />

<style type="text/css">
  .edit-ul{display: none;}
</style>
<script type="text/javascript">
  $(function(){
    $('#link-type').change(function(){
      var formtype = $(this).val();
      if(formtype == '1'){
        $('.licai').show().siblings('.edit-ul').hide();
      }else{
        $('.newslink').show().siblings('.edit-ul').hide();
        $('.cjrdlinktype').val(formtype);
      }
    });
  });
</script>

<div class="nav-table">
<span class="on">财经热点内容操作</span>
</div>
<div class="nav-bottom"></div>

<div class="input-box">
<ul>
  <li>
    <label for="link-type">链接类型</label>
    <select name="link_type" id="link-type">
      <option value="1" <eq name="val.link_type" value="1">selected</eq>>理财产品</option>
      <option value="2" <eq name="val.link_type" value="2">selected</eq>>财经要闻</option>
      <option value="3" <eq name="val.link_type" value="3">selected</eq>>热点</option>
    </select>
  </li>
</ul>

<ul class="licai edit-ul" <if condition="($val['link_type'] eq '1') OR ($val['link_type'] eq null)">style="display:block"</if>>
  <form class="table-form" name="form1" enctype="multipart/form-data" method="post" action="<{:U('cjrdedit',array('id'=>$id))}>">
  <li>
   <label for="title">产品名称</label>
   <input type="text" name="title" id="title" value="<{$val.title}>" />
   <input type="hidden" name="link_type" value="1" />
  </li>
  <li>
   <label for="content">链接地址</label>
   <input type="text" name="content" id="content" value="<{$val.content}>" />附带http://的完整链接地址
  </li>
  <li>
    <label for="pro-type">产品类型</label>
    <select name="pro_type" id="pro-type">
      <option value="1" <eq name="val.pro_type" value="1">selected</eq>>银行理财</option>
      <option value="2" <eq name="val.pro_type" value="2">selected</eq>>P2P理财</option>
      <option value="3" <eq name="val.pro_type" value="3">selected</eq>>热点</option>
    </select>
  </li>
  <li>
   <label for="earnings">收益</label>
   <input type="text" name="earnings" id="earnings" value="<{$val.earnings}>" />%
  </li>
  <li>
   <label for="qtgs">起投金额/产品归属</label>
   <input type="text" name="qtgs" id="qtgs" value="<{$val.qtgs}>" />
  </li>
  <li>
    <div class="table-but"><input type="submit" name="button" id="button" value="确 认 操 作"></div>
  </li>
  </form>
</ul>
<ul class="newslink edit-ul" <if condition="($val['link_type'] eq 2) OR ($val['link_type'] eq 3)">style="display:block"</if>>
  <form class="table-form" name="form1" enctype="multipart/form-data" method="post" action="<{:U('cjrdedit',array('id'=>$id))}>">
  <li>
   <label for="title">链接标题</label>
   <input type="text" name="title" id="title" value="<{$val.title}>" />
   <input type="hidden" name="link_type" class="cjrdlinktype" value="<{$val.link_type}>" />
  </li>
  <li>
   <label for="content">链接地址</label>
   <input type="text" name="content" id="content" value="<{$val.content}>" />附带http://的完整链接地址
  </li>
  <li>
    <div class="table-but"><input type="submit" name="button" id="button" value="确 认 操 作"></div>
  </li>
  </form>
</ul>

</div>
<include file="Public/foot" />