<include file="Public/left" />

<form class="table-form" name="form1" enctype="multipart/form-data" method="post" action="<{:U('editcontent',array('edit'=>$edit,'id'=>$id,'cid'=>$classdata['id']))}>">

<div class="nav-table">
<span class="on"><{$classdata.name}>链接设置</span>
</div>
<div class="nav-bottom"></div>


<div class="input-box">
<ul id="table-one">
  <li>
   <label for="company">所属公司</label>
   <input type="text" name="company" id="company" value="<{$val.company}>" />
  </li>
  <li>
   <label for="title">链接标题</label>
   <input type="text" name="title" id="title" value="<{$val.title}>" />
  </li>
  <li>
      <label for="link-type">链接类型</label>
      <select name="link_type" id="link-type">
        <option value="1" <eq name="val.link_type" value="1">selected</eq>>理财产品</option>
        <option value="2" <eq name="val.link_type" value="2">selected</eq>>财经新闻</option>
        <option value="3" <eq name="val.link_type" value="3">selected</eq>>热点资讯</option>
      </select>
    </li>
  <li>
   <label for="content">链接地址</label>
   <input type="text" name="content" id="content" value="<{$val.content}>" />附带http://的完整链接地址
  </li>
</ul>

<div class="table-but"><input type="submit" name="button" id="button" value="确 认 操 作"></div>
</div>
</form>
<include file="Public/foot" />