<include file="Public/left" />

<form class="table-form" name="form1" enctype="multipart/form-data" method="post" action="<{:U('editcontent',array('cid'=>$classdata['id']))}>">

<div class="nav-table">
<span class="on"><{$classdata.name}>内容管理</span>
</div>
<div class="nav-bottom"></div>


<div class="input-box">
<ul id="table-one">
  <li>
   <label for="company">所属公司</label>
   <input type="text" name="company" id="company" value="<{$val.company}>" />
  </li>
  <li>
   <label for="content">文本内容</label>
   <textarea name="content" id="content"><{$val.content}></textarea>
  </li>
</ul>

<div class="table-but"><input type="submit" name="button" id="button" value="确 认 操 作"></div>
</div>
</form>
<include file="Public/foot" />