<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>LZH-CMS后台</title>
<meta name="robots" content="nofollow" />
<meta name=”viewport” content=”width=device-width, initial-scale=1, maximum-scale=1″>
<link href="__CSS__/admin-style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="__STATIC__/js/jquery.js"></script>
<script language="javascript" type="text/javascript" src="__JS__/admin-common.js"></script>
</head>

<body>
